<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haier.mapper.TenvdetailMapper">
  <resultMap id="BaseResultMap" type="com.haier.po.Tenvdetail">
    <result column="serviceId" jdbcType="INTEGER" property="serviceid" />
    <result column="envId" jdbcType="INTEGER" property="envid" />
    <result column="hostInfo" jdbcType="VARCHAR" property="hostinfo" />
    <result column="dbInfo" jdbcType="VARCHAR" property="dbinfo" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    serviceId, envId, hostInfo, dbInfo
  </sql>
  <select id="selectByExample" parameterType="com.haier.po.TenvdetailExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tenvdetail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.haier.po.TenvdetailExample">
    delete from tenvdetail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.haier.po.Tenvdetail">
    insert into tenvdetail (serviceId, envId, hostInfo, 
      dbInfo)
    values (#{serviceid,jdbcType=INTEGER}, #{envid,jdbcType=INTEGER}, #{hostinfo,jdbcType=VARCHAR}, 
      #{dbinfo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.haier.po.Tenvdetail">
    insert into tenvdetail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="serviceid != null">
        serviceId,
      </if>
      <if test="envid != null">
        envId,
      </if>
      <if test="hostinfo != null">
        hostInfo,
      </if>
      <if test="dbinfo != null">
        dbInfo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="serviceid != null">
        #{serviceid,jdbcType=INTEGER},
      </if>
      <if test="envid != null">
        #{envid,jdbcType=INTEGER},
      </if>
      <if test="hostinfo != null">
        #{hostinfo,jdbcType=VARCHAR},
      </if>
      <if test="dbinfo != null">
        #{dbinfo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.haier.po.TenvdetailExample" resultType="java.lang.Long">
    select count(*) from tenvdetail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tenvdetail
    <set>
      <if test="record.serviceid != null">
        serviceId = #{record.serviceid,jdbcType=INTEGER},
      </if>
      <if test="record.envid != null">
        envId = #{record.envid,jdbcType=INTEGER},
      </if>
      <if test="record.hostinfo != null">
        hostInfo = #{record.hostinfo,jdbcType=VARCHAR},
      </if>
      <if test="record.dbinfo != null">
        dbInfo = #{record.dbinfo,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tenvdetail
    set serviceId = #{record.serviceid,jdbcType=INTEGER},
      envId = #{record.envid,jdbcType=INTEGER},
      hostInfo = #{record.hostinfo,jdbcType=VARCHAR},
      dbInfo = #{record.dbinfo,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>